.footer {
  background-color: #232121;
  width: 100%;
  display: flex;
}

.footer h1 {
  text-align: center;
}

#developer_ {
  color: #1c5f1c;
}

#developer {
  margin: 1rem auto 1rem;
}

#typescript {
  color: #035f57;
}

#angular {
  color: #a10a0a;
}

#name {
  color: #d8f000;
}


