.back {
  background-color: #232121;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  height: 80px;
}

.nav-bar {
  font-size: 1rem;
}

.nav-list {
  display: flex;
  gap: 1rem;
  list-style: none;
}

#angular {
  color: #ca1515;
  text-decoration: none;
}

#angular_material {
  color: #fa0dfab7;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: dd0031;
}

.link_menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: greenyellow;
}
