<header>
  <mat-toolbar class="back">
    <nav class="nav-bar">
      <ul class="nav-list">
        <li>


          <a
            [href]="'https://www.linkedin.com/in/daniel-kremes-94919227b/'"
            [target]="'_blank'"
            id="linkedin"
          >
            <span id="linkdein_hover">Linkedin</span></a
          >
        </li>

        <li>
          <a
            [href]="'https://github.com/DanielKremes?tab=repositories'"
            [target]="'_blank'"
            id="github"
            ><span id="github_hover">GitHub</span></a
          >
        </li>
      </ul>
    </nav>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu_teste"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu_teste>
      <ul>
        <li id="angular">
          <a mat-menu-item [href]="'https://angular.io/'" [target]="'_blank'"
            >Angular</a
          >
        </li>

        <li id="angular_material">
          <a
            mat-menu-item
            [href]="'https://github.com/DanielKremes?tab=repositories'"
            [target]="'_blank'"
            >angular material</a
          >
        </li>

        <li id="link_menu">
          <a
            mat-menu-item
            [href]="'https://github.com/DanielKremes/project_blog_personal'"
            [target]="'_blank'"
            >Repositorio project</a
          >
        </li>
      </ul>
    </mat-menu>
  </mat-toolbar>
</header>
