@media screen and (min-width:769px) {
  section {
    display: flex;
    flex-direction: column;
    width: 500px;
    /* border: 1px solid greenyellow; */
    margin-left: 2rem;
  }

  #image {
    width: 100%;
  }

  .content-big-card {
    display: flex;
    flex-direction: column;
  }

  .content-big-card h1 {
    font-size: 3rem;
    margin-top: 1rem;
  }

  .content-big-card p {
    font-size: 1.6rem;
    line-height: 1.5rem;
  }

  figcaption {
    display: none;
  }

}
